<!DOCTYPE html>
<html lang="ru">
    <head>
        <title>Books Hackathon</title>
        <meta charset="UTF-8">
        <meta name=description content="">
        <meta name=viewport content="width=device-width, initial-scale=1">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <!-- Bootstrap CSS -->
        <!-- <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet"> -->
        <link rel='stylesheet prefetch' href='http://netdna.bootstrapcdn.com/bootstrap/3.0.1/css/bootstrap.min.css'>
        <link rel='stylesheet prefetch' href='http://netdna.bootstrapcdn.com/font-awesome/4.0.0/css/font-awesome.min.css'>
        <!-- text editor -->
        <script src='http://cdnjs.cloudflare.com/ajax/libs/textAngular/1.2.1/textAngular-sanitize.min.js'></script>
        <script src='http://cdnjs.cloudflare.com/ajax/libs/textAngular/1.2.1/textAngular.min.js'></script>


        <script src='https://ajax.googleapis.com/ajax/libs/angularjs/1.2.4/angular.min.js'></script>
        <script src='https://ajax.googleapis.com/ajax/libs/angularjs/1.2.4/angular-sanitize.min.js'></script>
        <script src='http://cdnjs.cloudflare.com/ajax/libs/textAngular/1.1.2/textAngular.min.js'></script>
                  <script type="text/javascript">
                      angular.module("textAngularTest", ['textAngular']);
                      function wysiwygeditor($scope) {
                        $scope.orightml = '<h2>Try me!</h2><p>textAngular is a super cool WYSIWYG Text Editor directive for AngularJS</p><p><b>Features:</b></p><ol><li>Automatic Seamless Two-Way-Binding</li><li>Super Easy <b>Theming</b> Options</li><li style="color: green;">Simple Editor Instance Creation</li><li>Safely Parses Html for Custom Toolbar Icons</li><li class="text-danger">Doesn&apos;t Use an iFrame</li><li>Works with Firefox, Chrome, and IE8+</li></ol><p><b>Code at GitHub:</b> <a href="https://github.com/fraywing/textAngular">Here</a> </p>';
                        $scope.htmlcontent = $scope.orightml;
                        $scope.disabled = false;
                      };

                  </script>

    <meta charset="utf-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="viewport" content="width=device-width, initial-scale=1">
        <style type="text/css">
      input{
        width:100%;
        padding: 5px;
      }
      #category{
        padding: 10px;
      }
      select {
        padding: 10px;
        }
      #text{
        width: 99%;
        padding:10px;
        padding-right: 0;
        resize:vertical;
      }
      button{
        background-color: transparent;
        border:1px solid black;
        padding:  7px 15px;
        margin:10px  auto;
      }
      button:hover{
        background-color: green;
      }
      body{
        background: url("https://farm3.staticflickr.com/2812/11647809686_371de4aeef_o.jpg");
      }
      .ta-editor {
        height: 100px;
        height: auto;
        overflow: auto;
        font-family: inherit;
        font-size: 100%;
      }
      .ta-toolbar {
        margin-bottom:10px;

      }
        </style>
    </head>

    <body>



        <h1 class="text-center">Here you can add some books to our app :)</h1>
        <div class="container">
        <div class="col-md-10  col-md-offset-1" style="border: 1px solid #000; margin-top:20px; margin-bottom:40px; background:white;">


        <form style="padding: 50px;" class="form-horizontal" action="/book" method="post">
            <fieldset>
                <!-- Form Name -->
                <legend>Добавление книги</legend>
                <!-- Text input-->
                <div class="control-group">
                    <label class="control-label" for="name">Название: </label>
                    <div class="controls">
                        <input id="name" name="name" type="text" placeholder="300 Mushketerov" class="input-xlarge">

                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label" for="name">Ссылка: </label>
                    <div class="controls">
                        <input id="url" name="url" type="text" placeholder="http://blabla.com/mushketer.epub" class="input-xlarge">

                    </div>
                </div>
                <!-- Text input-->
                <div class="control-group">
                    <label class="control-label" for="author">Автор:</label>
                    <div class="controls">
                        <input id="author" name="author" type="text" placeholder="Nikola Gogal" class="input-xlarge">

                    </div>
                </div>
                <!-- Select Multiple -->
                <div class="control-group" >
                    <label class="control-label" for="category">Категория: </label>
                    <div class="controls">
                        <select id="category" name="category" class="input-xlarge" multiple="multiple">
                            <option>Фантастика</option>
                            <option>Детектив</option>
                            <option>Мистика</option>
                            <option>Фентези</option>
                            <option>Классика</option>
                        </select>
                    </div>
                </div>
                <!-- Textarea -->
                <div class="control-group"  >
                    <label class="control-label" for="text">Отрывок: </label>
                    <div class="controls" >
                        <div ng-app="textAngularTest" ng-controller="wysiwygeditor" class=" app">

                          <div text-angular="text-angular" id="text" name="htmlcontent" ng-model="htmlcontent" ta-disabled='disabled'></div>

                        </div>
                    </div>
                </div>
                <div class="control-group">
                    <div class="controls">
                        <button type="submit" type="btn btn-primary">Add</button>
                    </div>
                </div>
            </fieldset>
        </form>
        </div>
      </div>
        <!-- jQuery -->
        <script src="//code.jquery.com/jquery.js"></script>
        <!-- Bootstrap JavaScript -->
        <script src="//netdna.bootstrapcdn.com/bootstrap/3.1.0/js/bootstrap.min.js"></script>
    </body>
</html>
