 

 <ion-nav-buttons side="right">
    <button menu-toggle="left" id="star" class="button button-icon icon  ion-share"></button>
  </ion-nav-buttons>

<ion-view title="" >


<ion-content class="has-header" start-y="0">

 <!-- <div class="list card" style="margin-top:0px;"> -->
  <div class="item">
 
    <h2>{{book.name}}</h2>
    <p>{{book.author}}</p>
  </div>

  <div class="item item-body" style="mar">
    
    <p>
      {{book.text}}
    </p>
    <p>
      <a href="#" class="subdued">1 Like</a>
      <a href="#" class="subdued">5 Comments</a>
    </p>
  </div>

  <div class="item tabs tabs-secondary tabs-icon-left" >
    <a class="tab-item" href="#">
      <i class="icon ion-thumbsup"></i>
      
    </a>
    <a class="tab-item" href="#">
      <i class="icon  ion-ios7-download-outline"></i>
      
    </a>
    <a class="tab-item" href="#">
      <i class="icon ion-ios7-star-outline" ng-click="addToFave({{book}})"></i>
      
    </a>
  </div>

<!-- </div> -->
</ion-content>
</ion-view>
