<ion-view title="Книги" ng-controller="AppCtrl">
  <ion-nav-buttons side="left">
    <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
  </ion-nav-buttons>
  <ion-nav-buttons side="right">
    <button menu-toggle="left" class="button button-icon icon ion-ios7-search"></button>
  </ion-nav-buttons>
  <ion-content start-y="45"
             padding="false"
             has-tabs="true"
             has-header="true">

    <div id="search-box" class="bar bar-header item-input-inset">
        <div class="item-input-wrapper">
          <i class="icon ion-ios7-search placeholder-icon"></i>
          <input type="search" placeholder="Введите теги" ng-model="data.searchQuery">
          <i class="clear-search icon ion-ios7-close-empty" ng-click="clearSearch()"></i>
        </div>
        <button class="button button-clear">
          Cancel
        </button>
      </div>


    <ion-list>
      <ion-item ng-repeat="book in books | filter: data.searchQuery" href="#/app/books/{{book._id}}" ng-click="activeBook = {{book}}">

      <div style="font-size:15pt;">
          {{book.name}}
      </div>
        <p >
          {{book.author}}
        </p>
      </ion-item>

    </ion-list>

  </ion-content>
</ion-view>
