

 <ion-nav-buttons side="right">
    <button menu-toggle="left" id="star" class="button button-icon icon  ion-share"></button>
  </ion-nav-buttons>

<ion-view title="" >


<ion-content class="has-header" start-y="0">

 <!-- <div class="list card" style="margin-top:0px;"> -->
  <div class="item" style="text-align: center">

    <h2 style="font-size:18pt;">{{book.name}}</h2>
    <p>{{book.author}}</p>
  </div>

  <div class="item item-body" style="padding-top:0;">

    <p>
      {{book.text}}
    </p>
    <p>
      <a href="#" class="subdued">1 Like</a>
      <a href="#" class="subdued">2 Comments</a>
    </p>
  </div>

  <div class="item tabs tabs-secondary tabs-icon-left" >
    <a class="tab-item" href="#">
      <i class="icon ion-thumbsup"></i>

    </a>
    <a class="tab-item" href="#">
      <i class="icon  ion-ios7-download-outline"></i>

    </a>
    <a class="tab-item" href="#">
      <i class="icon ion-ios7-star-outline" ng-click="addToFave({{book}})"></i>

    </a>
  </div>
  <label class="item item-input">
    <i class="icon ion-edit placeholder-icon"></i>
     <textarea id="target" rows="1" style="max-height:none;" placeholder="Напишите свой комментарий"></textarea>
  </label>


  <div class="card">
    <div class="item item-avatar">
       <img src="mcfly.jpg">
       <h2>Marty McFly</h2>
       <div class=" item-text-wrap">
         This is a basic Card which contains an item that has wrapping text.
       </div>
     </div>
  </div>


    <div class="card">
      <div class="item item-avatar">
         <img src="mcfly.jpg">
         <h2>Marty McFly</h2>
         <div class=" item-text-wrap">
           This is a basic Card which contains an item that has wrapping text.
         </div>
       </div>
    </div>

<!-- </div> -->
</ion-content>
</ion-view>
