<div class="modal">
  <ion-header-bar>
    <h1 class="title">Login</h1>
    <div class="buttons">
      <button class="button button-clear" ng-click="closeLogin()">Close</button>
    </div>
  </ion-header-bar>
  <ion-content>
    <form ng-submit="doLogin()">
      <div class="list">
        <label class="item item-input">
          <span class="input-label">Username</span>
          <input type="email" ng-model="loginData.email">
        </label>
        <label class="item item-input">
          <span class="input-label">Password</span>
          <input type="password" ng-model="loginData.password">
        </label>
        <label class="item">
          <button class="button button-block button-positive" ng-click="doLogin()" type="submit">Log in</button>
        </label>
        <button class="button button-outline button-positive" style="display:block; margin: 20px auto;" type="submit" ng-click="registerShow()">Register</button>
        <!-- <label class="item">

        </label> -->
      </div>
    </form>
  </ion-content>
</div>
